body{

}

.content{
	width:960;
	margin:0 auto;
}

header{
	background-color: #fff;
	border:1px solid #999;
	margin-bottom: 30px;
}

header .logo{
	background-color:turquoise;
	width:300px;
}

header .logo a{
	font-size:40px;
	color:#fff;
	text-decoration:none;
}

header nav{
	float:right;
}

header nav li{
	display:inline;
}

h1{
	font-size:30;
	padding-bottom:20px;
	border-bottom:2px solid #999;
	width:auto;
	margin-bottom:20px;
}

h2{
	font-size:24;
}

h3{
	font-size:22;
}

.mainContent{
	width:610px;
	background-color: #fff;
	border:1px solid #999;
	float:left;
	padding:20px;
}

.mainContent p{
	font-size:16px;
	line-height:1.5em;
}

.mainContent img{
	float:left;
	width:150px;
	margin-right:20px;
}

.sidebar{
	width:230px;
	background-color: #fff;
	border:1px solid #999;
	float:right;
	padding:20px;
}

.sidebar li{
	display:inline;
}
.sidebar li a img{
	width:24px;
}

footer{
	display:none;
	border-top: 3px solid green;
	background-color:grey;
	color:#fff;
	height:100px;
	vertical-align: bottom

}